<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FISUDA" name="ol-map-ja" version="1.0.0">
    <details>
        <title>OpenLayers Map ja</title>
        <email>wirecloud@letsfiware.jp</email>
        <homepage>https://github.com/lets-fiware/ol-map-ja-widget</homepage>
        <image>images/catalogue.png</image>
        <description>Map viewer widget using OpenLayers.</description>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
        <authors>Kazuhito Suda, Álvaro Arranz</authors>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <issuetracker>https://github.com/lets-fiware/ol-map-ja-widget/issues</issuetracker>
    </details>

    <requirements>
        <feature name="DashboardManagement"/>
        <feature name="StyledElements"/>
    </requirements>

    <preferences>
        <preference
            name="initialCenter"
            type="text"
            label="Initial Location"
            description="Decimal coordinates where map will be centered on load (e.g. `52, 5`). Leave this setting empty if you don't want to center the map at init. Remember to change the initial zoom level if you provide an initial location."
            default=""
        />
        <preference
            name="initialZoom"
            type="text"
            label="Initial Zoom Level"
            description="Initial zoom level. From 1 to 22, where '1' represents the furthest level and '22' the maximum zoom level."
            default="3"
        />
        <preference
            name="minzoom"
            label="Min Zoom"
            type="text"
            description=""
            default="4"
        />
        <preference
            name="poiZoom"
            label="PoI Zoom"
            type="text"
            description="Zoom level applied when centering a PoI"
            default="17"
        />
        <preference
            name="layerswidget"
            label="Layers Widget"
            type="text"
            description="Widget to use for allowing user to switch between layers"
            default=""
        />
        <preference name="maptype" label="Map Type" type="list" description="Map Type" default="OSM">
            <option label="Open Street Map" value="OSM"/>
            <option label="CartDB Light" value="CARTODB_LIGHT"/>
            <option label="地理院 標準地図" value="GSI_STD"/>
            <option label="地理院 淡色地図" value="GSI_PALE"/>
            <option label="地理院 English" value="GSI_ENG"/>
            <option label="地理院 白地図" value="GSI_BLANK"/>
            <option label="地理院 写真" value="GSI_PHOTO"/>
            <option label="地理院 色別標高図" value="GSI_RELIEF"/>
            <option label="地理院 活断層図" value="GSI_AFM"/>
        </preference>
        <preference name="layer_swipe" label="Layer Swipe" description="map for swipe" type="list" default="Off">
            <option label="Off" value="Off"/>
            <option label="Open Street Map" value="OSM"/>
            <option label="CartDB Light" value="CARTODB_LIGHT"/>
            <option label="地理院 標準地図" value="GSI_STD"/>
            <option label="地理院 淡色地図" value="GSI_PALE"/>
            <option label="地理院 English" value="GSI_ENG"/>
            <option label="地理院 白地図" value="GSI_BLANK"/>
            <option label="地理院 写真" value="GSI_PHOTO"/>
            <option label="地理院 色別標高図" value="GSI_RELIEF"/>
            <option label="地理院 活断層図" value="GSI_AFM"/>
            <option label="洪水浸水想定区域(想定最大規模)" value="GSI_SHINSUISHIN"/>
            <option label="洪水浸水想定区域(想定最大規模)_国管理河川" value="GSI_SHINSUISHIN_KUNI"/>
            <option label="津波浸水想定" value="GSI_TSUNAMI"/>
            <option label="土砂災害警戒区域(土石流)" value="GSI_DOSEKIRYUKEIKAIKUIKI"/>
            <option label="土砂災害警戒区域(急傾斜地の崩壊)" value="GSI_KYUKEISHAKEIKAIKUIKI"/>
            <option label="土砂災害警戒区域(地滑り)" value="GSI_JISUBERIKEIKAIKUIKI"/>
            <option label="土石流危険渓流" value="GSI_DOSEKIRYUKIKENKEIRYU"/>
            <option label="急傾斜地崩壊危険箇所" value="GSI_KYUKEISYACHIHOUKAI"/>
        </preference>
        <preference
            name="swipe_value"
            label="Swipe value"
            description="Swipe value"
            type="number"
            default="50"
        />
        <preference
            name="overview"
            label="Overview"
            type="boolean"
            description="Overview Map"
            default="false"
        />
        <preference
            name="scaleline"
            label="Scaleline"
            type="boolean"
            description="Scaleline"
            default="false"
        />
        <preference
            name="useclustering"
            label="Use Clustering"
            type="boolean"
            description="Mark this option to use clustering for displaying map features"
            default="false"
        />
    </preferences>

    <wiring>
        <inputendpoint name="layerInfo" type="text" label="Layer Info" description="Add or remove layers to the map, in addition to changing its base layer." actionlabel="Update Layers" friendcode="ol-layer-command wms-layer-command"/>
        <inputendpoint name="poiInput" type="text" label="Insert/Update PoI" description="Insert or update a Point of Interest." actionlabel="Map Viewer Insert/Update PoI" friendcode="poi poi-list"/>
        <inputendpoint name="poiInputCenter" type="text" label="Center PoI" description="Insert or update a Point of Interest and center the map on it." actionlabel="Center" friendcode="poi poi-list" />
        <inputendpoint name="deletePoiInput" type="text" label="Delete PoI" description="Removes one or more point of interests from the map." actionlabel="Remove" friendcode="poi poi-list" />
        <inputendpoint name="replacePoIs" type="text" label="Replace PoIs" description="Replace all the rendered PoIs by the ones provided in the event." actionlabel="Map Viewer Insert/Update PoI" friendcode="poi poi-list"/>
        <outputendpoint name="poiOutput" type="text" label="PoI selected" description="A PoI has been selected on the map" friendcode="poi"/>
        <outputendpoint name="poiListOutput" type="text" label="Visible PoIs" description="List of visible PoIs" friendcode="poi-list"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="300px"/>
</widget>
